html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: auto;
}

h3 {
    margin-bottom: 0;
}

h4 {
    margin-top: 10px;
    color: #005397;
}

p {
    margin: auto;
    line-height: 2rem;
    text-align: justify;
    font-size: 22px;
    margin: 0;
}
ul {
    margin-top: 0;
}
ul > li {
    list-style: none;
    margin-bottom: 1rem;
}

.color-blue {
    color: #005397;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}